.card-img-top {
    height: 300px;
    object-fit: cover; /* Recorta la imagen para que rellene el espacio sin deformarse */
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.02);
}
/* Mobile-first: Ajuste de fuente en pantallas pequeñas */
@media (max-width: 420px) {
    h1 {
        font-size: 1.8rem;
    }
}